<div class="container">
  <div class="button-1">
    <button
      type="button"
      (click)="onClickOfOperator()"
      style="background-color: rgb(94, 167, 72); color: white"
    >
      Of
    </button>
  </div>

  <div class="button-1">
    <button
      type="button"
      (click)="onClickFromOperator()"
      style="background-color: rgb(91, 84, 197); color: white"
    >
      From
    </button>
  </div>

  <div class="button-1">
    <button
      type="button"
      (click)="onClickConcatWithOperator()"
      style="background-color: rgb(91, 84, 197); color: white"
    >
      Concat With
    </button>
  </div>

  <div class="button-1">
    <button
      type="button"
      (click)="onClickMergeOperator()"
      style="background-color: rgb(91, 84, 197); color: white"
    >
      Merge
    </button>
  </div>

  <div class="button-1">
    <button
      type="button"
      (click)="onClickMapOperator()"
      style="background-color: rgb(91, 84, 197); color: white"
    >
      Map
    </button>
  </div>

  <div class="button-1">
    <button
      type="button"
      (click)="onClickConcatMapOperator()"
      style="background-color: rgb(91, 84, 197); color: white"
    >
      Concat Map
    </button>
  </div>
</div>
