<!-- <app-header> </app-header>

<div class="both-contai">
  <app-sidebar></app-sidebar>

  <div class="list">
    <app-booklist></app-booklist>
  </div>
</div>
<app-footer> </app-footer> -->

<!-- <app-parent> </app-parent>
<app-child> </app-child> -->
<!-- <app-user></app-user> -->

<!-- <h3>Welcome</h3>

<ul class="nav-bar">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active"><a routerLink="/products">Product</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/accounts']">Account</a></li>
</ul> -->

<!-- <app-home> </app-home>
<app-account> </app-account>
<app-product> </app-product> -->
<!-- 
<router-outlet> </router-outlet> -->

<!-- <app-reactiveform> </app-reactiveform> -->
<app-demo> </app-demo>
