.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
  }
  @media screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 3px solid #fff;
    }
  }
  